{% extends 'rango/base.html' %}
{% load staticfiles %}

{% block title_block %}
	Rango
{% endblock %}

{% block body_block %}
		<h1>Rango says...</h1>
		{% if user.is_authenticated %}
		<div>hey there {{ user.username }}!</div>
		{% else %}
		<div>hey there friend!</div>
		{% endif %}
		<div>
		{% if categories %}
		<ul>
			{% for category in categories %}
				<li>
				<a href="/rango/category/{{category.slug }}">{{category.name}}</a>
				</li>
			{% endfor %}
		</ul>
		<h1>Most Viewed Pages</h1>
		<ul>
			{% for page in pages %}
				<li>
				<a href="/rango/category/{{page.category.slug}}/page.title">{{page.category.name}} : {{page.title}}</a>
				</li>
			{% endfor %}
		</ul>
		{% else %}
			<strong> there are no categories present.</strong>
		{% endif %}
		</div>
		<div><a href="{% url 'about' %}">About</a><br />
		<a href="{% url 'add_category' %}">Add a New Category</a><br />
		<img src="{% static 'images/rango.jpg' %}" alt="Picture of Rango" /> 
		<p>visits: {{ visits }}</p>
		</div>
{% endblock %}